@font-face {
    font-family: 'PP Neue Montreal Book';
    font-style: normal;
    font-weight: normal;
    src: local('PP Neue Montreal Book'), url('../fonts/ppneuemontreal-book.woff') format('woff');
}


@font-face {
    font-family: 'PP Neue Montreal Italic';
    font-style: normal;
    font-weight: normal;
    src: local('PP Neue Montreal Italic'), url('../fonts/ppneuemontreal-italic.woff') format('woff');
}


@font-face {
    font-family: 'PP Neue Montreal Thin';
    font-style: normal;
    font-weight: normal;
    src: local('PP Neue Montreal Thin'), url('../fonts/ppneuemontreal-thin.woff') format('woff');
}


@font-face {
    font-family: 'PP Neue Montreal Medium';
    font-style: normal;
    font-weight: normal;
    src: local('PP Neue Montreal Medium'), url('../fonts/ppneuemontreal-medium.woff') format('woff');
}


@font-face {
    font-family: 'PP Neue Montreal SemiBold italic';
    font-style: normal;
    font-weight: normal;
    src: local('PP Neue Montreal SemiBold italic'), url('../fonts/ppneuemontreal-semibolditalic.woff') format('woff');
}


@font-face {
    font-family: 'PP Neue Montreal Bold';
    font-style: normal;
    font-weight: normal;
    src: local('PP Neue Montreal Bold'), url('ppneuemontreal-bold.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'PP Neue Montreal Book', sans-serif;
    user-select: none;
}

:root {
    --black: #120A03;
    --dark-grey: #393D3F;
    --text-light: #76767A;
    --line-dark: #AEAFB4;
    --input-field: #DCDCDC;
    --line-light: #E9E9E9;
    --grey-bg: #F7F7F7;
    --white: #FFFFFF;
    --green: #0DA155;
    --red: #ED0000;
    --rounded: 8px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

ul,
ol {
    list-style-type: none;
}

img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

input {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.container {
    margin: 0 auto;
}

.btn,
a {
    cursor: pointer;
}

.heading {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: var(--dark-grey);
}

.title {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: var(--dark-grey);
}

.checkbox {
    border: 1px solid var(--input-field);
    cursor: pointer;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    transition: all 300ms;
    border-radius: var(--rounded);
}

.checkbox:hover {
    border: 1px solid var(--dark-grey);
}

.input {
    border: none;
    border-bottom: 1px solid var(--input-field);
    cursor: pointer;
    padding: 13px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    transition: all 300ms;
    color: var(--dark-grey);
}

.input:focus {
    border-bottom: 1px solid var(--dark-grey);
}

.input:hover {
    border-bottom: 1px solid var(--dark-grey);
}

.header__container {
    max-width: 1920px;
    width: 100%;
    padding: 10px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__logo>img {
    max-width: 150px;
}

header .btn {
    background-color: transparent;
    max-width: 20px;
    max-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all 300ms;
}

header .btn:hover {
    opacity: 0.8;
}

.header__menu {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    max-width: 332px;
    width: 100%;
    translate: -100%;
    padding: 16px 48px 32px 34px;
    background-color: white;
    gap: 0;
    max-width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 25px;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0.9;
}

.header__menu.visible {
    translate: 0%;
    opacity: 1;
}

.header__menu-close {
    padding-left: 6px;
    max-width: 22px;
}

.header__menu-bcg {
    position: fixed;
    background-color: transparent;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2.5vh;
}

.header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2px;
}

.header__nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    border-radius: 4px;
    overflow: hidden;
}

.header__nav-item:hover {
    background-color: var(--grey-bg);
}

.header__nav-link {
    width: 100%;
    padding: 3px 6px;
    color: var(--dark-grey);
    font-weight: 400;
    line-height: 21px;
}

.header__nav-list:last-child .header__nav-link {
    padding: 6px 6px;
}

.order {
    padding: 70px 0;
    margin-bottom: 50px;
}

.order__container {
    max-width: 1200px;
}

.order__heading {
    margin-bottom: 50px;
}

.order__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 64px;
}

.order__title {
    margin-bottom: 16px;
}

.order__img-main {
    border-radius: var(--rounded);
    overflow: hidden;
    margin-bottom: 16px;
}

.order__img-main>img {
    max-height: 366px;
}

.order__img-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.order__img-item {
    border-radius: var(--rounded);
    overflow: hidden;
    opacity: 0.5;
    transition: all 300ms;
    cursor: pointer;
}

.order__img-item.active {
    opacity: 1;
    cursor: default;
}

.order__img-item:hover {
    opacity: 1;
}

.order__box {
    margin-bottom: 40px;
}

.order__sum-list {
    display: grid;
    grid-template-columns: 6fr 6fr 6fr 8fr;
    gap: 16px;
}

.order__box input[type='radio'] {
    display: none;
    width: 100%;
}

.order__box input:checked~label {
    border: 1px solid var(--dark-grey);
}

.order__sum-item>input[type="number"] {
    display: flex;
    text-align: center;
}

.order__receiver-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

@media (max-width: 768px) {
    .header__container {
        padding: 20px 15px;
    }

    header .btn {
        max-width: 18px;
        max-height: 18px;
    }

    .header__menu {
        max-width: 100%;
        padding: 26px 48px 32px 12px;
        gap: 13px;
    }

    .header__nav-link {
        padding: 5px;
        line-height: 28px;
    }

    .header__nav-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 1px;
    }

    .header__nav {
        gap: 0;
    }

    .header__nav-list:last-child .header__nav-link {
        padding: 5px;
    }

}